<% 
    site.categories.sort('name').forEach(function (categories) {
        if( categories.name == page.category ){  
%>
    <div class="articles-options">
        <div class="articles-navgation">
            <a href="/">首页</a>
            <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="14" height="14">
                <path d="M357.957 167.176l-49.463 48.973 294.308 296.327-296.782 293.831 49.044 49.381 346.239-342.809z"></path>
            </svg>
            <span><%= page.category %></span>
        </div>
    </div>
    <div class="articles-list">
        <%
            if( categories.posts.length ){
                categories.posts.sort('-date').forEach(function(post, index){
                    let url = url_for(post.path);
        %>
            <div class="articles-item">
                <h4 class="title">
                    <a href="<%= url %>"><%= post.title %></a>    
                </h4>
                <div class="content"><%- post.excerpt || clearHtml(post.content) %></div>
                <div class="articles-info">
                    <span>发布时间: <%= date(post.date) %></span>
                    <span>阅读量: 999</span>
                </div>
            </div>
        <%})}%>
    </div>
<%}})%>